section {
    flex-direction: column;
    top: unset !important; 
    height: 100vh;
}

section p {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.reveal h1, .reveal h2, .reveal h3 {
    font-size: 1.4em !important;
}
